/*==================================
        CERTIFICATIONS
==================================*/

#certifications{

    min-height:100vh;

    padding:100px 8%;

    background:linear-gradient(
        135deg,
        #050816,
        #0f172a
    );
}

/*==================================
        GRID
==================================*/

.cert-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;
}

/*==================================
        CARD
==================================*/

.cert-card{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:25px;

    padding:35px;

    text-align:center;

    transition:.4s;

    overflow:hidden;

    box-shadow:0 12px 30px rgba(0,0,0,.25);
}

.cert-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 15px 40px rgba(18,216,232,.35);
}

/*==================================
        ICON
==================================*/

.cert-icon{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        135deg,
        #12d8e8,
        #2563eb
    );

    font-size:40px;

    margin-bottom:25px;
}

/*==================================
        TEXT
==================================*/

.cert-card h3{

    color:white;

    font-size:1.5rem;

    margin-bottom:15px;
}

.cert-card p{

    color:#cbd5e1;

    margin-bottom:15px;
}

.cert-card span{

    display:inline-block;

    padding:8px 18px;

    background:#12d8e8;

    color:#050816;

    border-radius:30px;

    font-weight:700;
}

/*==================================
      LIGHT THEME
==================================*/

body.light-theme #certifications{

    background:#f8fbff;
}

body.light-theme .cert-card{

    background:#ffffff;

    border:1px solid #e5e7eb;

    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

body.light-theme .cert-card h3{

    color:#111827;
}

body.light-theme .cert-card p{

    color:#4b5563;
}

/*==================================
      RESPONSIVE
==================================*/

@media(max-width:768px){

.cert-grid{

grid-template-columns:1fr;
}

.cert-card{

padding:25px;
}

.cert-icon{

width:70px;

height:70px;

font-size:30px;
}

}