.scroll-top{

position:fixed;

right:30px;

bottom:30px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:linear-gradient(
135deg,
#12d8e8,
#2563eb
);

color:white;

font-size:24px;

cursor:pointer;

z-index:999;

transition:.3s;

box-shadow:0 10px 30px rgba(18,216,232,.4);

}

.scroll-top:hover{

transform:translateY(-5px);

}